.App{
    background-color: #EDEDED;
}
a{
    text-decoration: none;
}
ul li a.active #nav-link{
    background: #F8FCF9;
    border-left: 4px solid #51B15C;
    border-radius: 2px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8px 14px;
}